<nav class="bg-light m-3">
    <img class="m-3" id="pfp"
        src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
    <nav id="username-and-blurb-container" class="ml-3">
        <div>
            <img class="icon p-1"
                src="https://www.reshot.com/preview-assets/icons/964QZLRXYM/star-medal-964QZLRXYM.svg">
            <div class="tool-tip bg-light">
                <p class="m-1 tool-tip-name">Badge name</p>
                <p class="m-1">Description of the badge and how it's earned</p>
            </div>
            <img class="icon p-1"
                src="https://www.reshot.com/preview-assets/icons/J7H9K62ZXS/king-crown-J7H9K62ZXS.svg">
            <div class="tool-tip bg-light">
                <p class="m-1 tool-tip-name">Second badge name</p>
                <p class="m-1">Description of the second displayed badge and how it's earned</p>
            </div>
            <div id="username-holder">
                <h1 id="username">Username</h1>
                <i class="far fa-edit"></i>
            </div>
        </div>
        <div id="blurb-holder">
            <p id="blurb">This is a blurb/description that a user can write about themselves!</p>
            <i class="far fa-edit"></i>
        </div>
    </nav>
</nav>
<nav class="bg-light m-3">
    <h2 class="m-3">Badges</h2>
    <nav id="badges">
        <div class="award-holder m-3">
            <img class="award p-2" src="https://www.reshot.com/preview-assets/icons/TBRQVFYD24/award-TBRQVFYD24.svg">
            <h4 class="badge-title">Badge Title</h4>
            <p class="badge-desc">Description of the badge and how it's earned</p>
        </div>
        <div class="award-holder m-3">
            <img class="award p-2" src="https://www.reshot.com/preview-assets/icons/QGBLDPSM9C/champion-QGBLDPSM9C.svg">
            <h4 class="badge-title">Badge Title</h4>
            <p class="badge-desc">Description of the badge and how it's earned</p>
        </div>
        <div class="award-holder m-3">
            <img class="award p-2"
                src="https://www.reshot.com/preview-assets/icons/964QZLRXYM/star-medal-964QZLRXYM.svg">
            <h4 class="badge-title">Badge Title</h4>
            <p class="badge-desc">Description of the badge and how it's earned</p>
        </div>
        <div class="award-holder m-3">
            <img class="award p-2"
                src="https://www.reshot.com/preview-assets/icons/J7H9K62ZXS/king-crown-J7H9K62ZXS.svg">
            <h4 class="badge-title">Badge Title</h4>
            <p class="badge-desc">Description of the badge and how it's earned</p>
        </div>
        <div class="award-holder m-3">
            <img class="award p-2" src="https://www.reshot.com/preview-assets/icons/WF2L4URNG8/medal-WF2L4URNG8.svg">
            <h4 class="badge-title">Badge Title</h4>
            <p class="badge-desc">Description of the badge and how it's earned</p>
        </div>
    </nav>
</nav>