<!--post START-->
<div class="card m-3 bg-light" style="width: 95%;">
    <nav class="poster text-center  mr-3 mt-3">
        <img class="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
        <h5 class="poster-subject">{{ForumPost.user_id}}</h5>
    </nav>
    <div class="card-body">
        <h5 class="card-title">{{ForumPost.subject}}</h5>
        <p class="card-text">{{ForumPost.body}}</p>
    </div>
</div>
<!--post END-->

<!--reply form START-->
<div class="card m-3 bg-light" style="width: 95%;">
    <div class="card-body">
        <form id="new-goal-form">
            <div class="form-group">
                <input class="form-control" id="newGoal" name="titleNewPost" aria-describedby="emailHelp"
                    placeholder="Your reply here">
            </div>
            <button type="submit" class="btn btn-primary" id="createBtn">Post Reply</button>
        </form>
    </div>
</div>
<!--reply form END-->

<!--replies START-->
<div class="card m-3 bg-light" style="width: 95%;">
    <nav class="poster text-center mr-3 mt-3">
        <img class="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
        <h5 class="poster-username">Replier Username</h5>
    </nav>
    <div class="card-body">
        <h5 class="card-title">Reply Title to be rendered here</h5>
        <p class="card-text">Reply text to be rendered here.</p>
    </div>
</div>
<div class="card m-3 bg-light" style="width: 95%;">
    <nav class="poster text-center mr-3 mt-3">
        <img class="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
        <h5 class="poster-username">2nd Replier Username</h5>
    </nav>
    <div class="card-body">
        <h5 class="card-title">Reply Title to be rendered here</h5>
        <p class="card-text">A different reply text to be rendered here. These are just examples, but there can be countless replies</p>
    </div>
</div>
<!--replies END-->