<!-- Button trigger modal -->

{{!-- <div>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
    Add newfriend
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new buddy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form to include the other user's email -->
        <form id="friendEmailForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Buddy's email</label>
            <input class="form-control" id="emailfriend" name="titleNewPost" aria-describedby="emailHelp"
              placeholder="Enter user's email">
          </div>
          <button type="submit" class="btn btn-primary" id="createBtn">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark">Message</button>
      </div>
    </div>
  </div>
</div>

<div>
  Buddies:
  <p id="userfriend"></p>
</div> --}}


{{!-- <div>
  Buddies:

  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header" id="friendEmail"></div>
    <div class="card-body">
      <h5 class="card-title" id="goalHeader">Accountabilities</h5>
      <ul id="goalFriendList"></ul>
      <p class="card-text"></p>
    </div>
  </div>

</div> --}}


<div class="jumbotron">
  <h1 class="display-4">Checkout your Buddy's Goals </h1>
  <p class="lead"></p>

  <!--User input - buddy's email" -->
  <form class="mx-1 mx-md-4" id="friendEmailForm">

    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="text" id="emailFriend" class="form-control" />
        <label class="form-label" for="form3Example1c">Buddy's Email</label>
      </div>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <button class="btn btn-outline-info me-2" type="submit">Add</button>
    </div>

  </form>
  <hr class="my-4">
  <div class="card border-info mb-3" style="max-width:auto;">
    <div class="card-header" id="friendEmail">
      <h5 class="card-title" id="goalHeader">Accountabilities</h5>
    </div>
    <div class="card-body">
      <ul id="goalFriendList"></ul>
      <p class="card-text"></p>
    </div>
  </div>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/friendpage" role="button">Clear</a>
  </p>
</div>





<script src="./js/friend.js"></script>