<div >
    <h2>Welcome, {{email}}!</h2>
<div>

<div>
  <h3> Add new Accountability </h3>

<form id="new-post-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input class="form-control" id="newAccount" name = "titleNewPost" aria-describedby="emailHelp" placeholder="Enter Accountability">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Frequency</label>
    <input class="form-control" id="frequency" name="contentNewPost" placeholder="Content">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Duration</label>
    <input class="form-control" id="duration" name="contentNewPost" placeholder="Content">
  </div>
  
  <button type="submit" class="btn btn-primary" id="postBtn">Post</button>
</form>

</div>