/* profile page start */

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#username-and-blurb-container {
    display: inline-block;
}

.award {
    width: 200px;
    height: 200px;
    background-color:lightgrey;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.badge-title, .badge-desc {
    text-align: center;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 40px;
    height: 40px;
    background-color:lightgrey;
    border-radius: 20%;
    margin-bottom: 20px;
}

#username-holder {
    display: inline-block;
}

#username {
    display: inline-block;
}

.tool-tip {
    display: none;
    position: fixed;
    outline: solid;
    outline-width: 1px;
    outline-color: black;
    width: 150px;
}

.tool-tip-name {
    text-decoration: underline;
}

.icon:hover + .tool-tip {
    display: inline-block;
}

.fa-edit {
    visibility: hidden;
}

#username-holder:hover .fa-edit {
    visibility: visible;
}

.fa-edit:hover {
    cursor: pointer;
}

#blurb {
    display: inline-block;
}

#blurb-holder:hover .fa-edit {
    visibility: visible;
}

.big-holder {
    display: inline-block;
}

.goal-cards {
    width: 100%;
    margin: auto;
}

.goal-card {
    height: 260px;
}

/* profile page end */

/* forums page start */

.post {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

#posts {
    border-radius: 5px;
}

.post-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pfp {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.pfp:hover {
    cursor: pointer;
}

.poster {
    display: inline-block;
    width: 300px;
}

.post-body {
    display: inline-block;
}

.poster-username:hover {
    cursor: pointer;
    text-decoration: underline;
}